<div class="card">
  <div class="leftSide">
    <h2>Placeholder da foto,</h2>
    <h2>talvez desista dela</h2>
  </div>
  <div class="rightSide">
    <p>{{!isTranslated ? "Nome:" : "Name:"}} Victor Bruno Paro</p> <br/>
    <p>{{!isTranslated ? "Data de Nascimento:" : "Birthday: "}} 29/04/1998 ({{!isTranslated ? "Idade:" : "Age:"}}{{currentAge}})</p> <br />
    <p>Email: victorbparo@gmail.com</p>
    <p>{{!isTranslated ? "Umuarama - Paraná, Brasil" : "Umuarama - Paraná, Brazil"}}</p>
  </div>
</div>
