<div id="bar">
  <div class="leftItems">
    <h3 class="testNavBar nameTag">Victor</h3>
  </div>
  <div class="rightItems">
    <div *ngIf="!isTranslated then ptBRRight else enUSRight"></div>
    <ng-template #ptBRRight>
      <p class="testNavBar">texto3BR</p>
    </ng-template>
    <ng-template #enUSRight>
      <p class="testNavBar">text3EN</p>
    </ng-template>
    <label id="langToggle" class="testNavBar">
      <input type="checkbox" (click)="changeLanguageOnClick()">
      <span class="slider round"></span>
    </label>
  </div>
</div>
