<div id="page" >
  <h1>PLACEHOLDER BANNER</h1>
  <div id="bar">
    <app-topbar></app-topbar>
  </div>
  <div id="introduction">

  </div>
  <app-infoblock isTranslated=true sectionTitle="Setor 1" sectionTitleEN="Section 1" sectionContent="Este é o setor 1." sectionContentEN="As the title implies, this is, in fact, a section."></app-infoblock>
  <app-infoblock isTranslated=true sectionTitle="Setor 2" sectionTitleEN="Section 2" sectionContent="E este é o setor 2" sectionContentEN="Yes, still a section. A different one, but alas, a section."></app-infoblock>
</div>
